<h1>Agile Tools</h1>

<div class="float">
    <h2>Definition of Ready</h2>
    <app-answer [btnText]="'Does the story meet the Definition of Ready?'"></app-answer>
</div>

<div class="float">
    <h2>Definition of Done</h2>
    <app-answer [btnText]="'Does the story meet the Definition of Done?'"></app-answer>
</div>

<div class="clearfix"></div>

<div class="float">
    <h2>Story Points Calculator</h2>

    <button (click)="calculatePoints()">Calculate points!</button>
    <h3>{{ points }}</h3>
</div>

<div class="float">
    <h2>What does Fred think??</h2>

    <button (click)="askFred()">Ask Fred!</button>
    <p *ngIf="fredSays$ | async as fredSays">{{ fredSays }}...</p>
</div>

<div class="clearfix"></div>
