/* You can add global styles to this file, and also import other style files */
body {
    font: normal normal normal 1rem/1rem sans-serif;
    margin: 0;
    padding: 1rem 2rem;
}

input, label {
    display: block;
}

label {
    margin: 0;
    margin-bottom: 0.25rem;
}

input {
    margin: 0;
    margin-bottom: 0.5rem;
}

.float {
    float: left;
    max-width: 50%;
    min-width: 30%;
}

.clearfix {
    clear: both;
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}
